<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>web_14_response</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>DemoServlet</display-name>
    <servlet-name>DemoServlet</servlet-name>
    <servlet-class>hhm.demo.DemoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DemoServlet</servlet-name>
    <url-pattern>/servlet1</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ReLocationServlet</display-name>
    <servlet-name>ReLocationServlet</servlet-name>
    <servlet-class>hhm.demo.ReLocationServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ReLocationServlet</servlet-name>
    <url-pattern>/servlet2</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Location1Servlet</display-name>
    <servlet-name>Location1Servlet</servlet-name>
    <servlet-class>hhm.reLocation.Location1Servlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Location1Servlet</servlet-name>
    <url-pattern>/location1</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Location2Servlet</display-name>
    <servlet-name>Location2Servlet</servlet-name>
    <servlet-class>hhm.reLocation.Location2Servlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Location2Servlet</servlet-name>
    <url-pattern>/location2</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RefreshServlet</display-name>
    <servlet-name>RefreshServlet</servlet-name>
    <servlet-class>hhm.refresh.RefreshServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RefreshServlet</servlet-name>
    <url-pattern>/refresh</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>WriterServlet</display-name>
    <servlet-name>WriterServlet</servlet-name>
    <servlet-class>hhm.writer.WriterServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>WriterServlet</servlet-name>
    <url-pattern>/writer</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>OutputStreamServlet</display-name>
    <servlet-name>OutputStreamServlet</servlet-name>
    <servlet-class>hhm.outputstream.OutputStreamServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>OutputStreamServlet</servlet-name>
    <url-pattern>/outputStream</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FileDownloadServlet</display-name>
    <servlet-name>FileDownloadServlet</servlet-name>
    <servlet-class>hhm.file.download.FileDownloadServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FileDownloadServlet</servlet-name>
    <url-pattern>/download</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CheckImageServlet</display-name>
    <servlet-name>CheckImageServlet</servlet-name>
    <servlet-class>hhm.checkimage.CheckImageServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CheckImageServlet</servlet-name>
    <url-pattern>/checkImage</url-pattern>
  </servlet-mapping>
</web-app>